services:
  app:
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - ./:/home/app
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
    command: nodemon index.js
